<div class="container-fluid no-gutters">
   <div id='banner1' class="banner_section">
      <div class="container">
         <div id="banner_slider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_img"><img src="images/zc-pngtree-iced-coffee-png-png-image_10216698.png">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h2 class="banner_taital" style="color: blue;">coffee</h2>
                           <h5 class="tasty_text">Our Tasty Of PandaCafe</h5>
                           <p class="banner_text" style="font-size: 22px;">coffee-cafe-au-lait-cup -></p>
                           <p class="banner_text" style="font-family:cursive;">A coffee beverage made with equal parts brewed coffee and steamed milk.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_img"><img
                              src="images/zc-pngtree-a-delicious-coffee-drink-with-swirl-of-whipped-cream-and-cinnamon.png">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h2 class="banner_taital" style="color:coral;">coffee</h2>
                           <h5 class="tasty_text">Our Tasty Of PandaCafe</h5>
                           <p class="banner_text" style="font-size: 22px;">delicious-coffee-drink-with-swirl-of-whipped-cream -></p>
                           <p class="banner_text" style="font-family:cursive;">A brewed coffee topped with a swirl of whipped cream.</p>
                           
                        </div>
                     </div>
                  </div>
               </div>

               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_img"><img
                              src="images/zc-pngtree-cup-of-hot-cappuccino-coffee-on-white-background-png-image_11752259.png">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h2 class="banner_taital" style="color:forestgreen;">coffee</h2>
                           <h5 class="tasty_text">Our Tasty Of PandaCafe</h5>
                           <p class="banner_text" style="font-size: 22px;">cup-of-hot-cappuccino-coffee -></p>
                           <p class="banner_text" style="font-family:cursive;">A traditional cappuccino typically consists of equal parts espresso, steamed milk, and foamed milk.</p>
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_img"><img
                              src="images/zc-pngtree-coffee-drink-afternoon-tea-png-image_9145188.png"></div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h2 class="banner_taital" style="color:rgb(194, 11, 191);">coffee</h2>
                           <h5 class="tasty_text">Our Tasty Of PandaCafe</h5>
                           <p class="banner_text" style="font-size: 22px;">Caramel-Hazelnut-Macchiato -></p>
                           <p class="banner_text" style="font-family:cursive;">The rich flavors of espresso with the nutty sweetness of hazelnut syrup and the indulgence of caramel.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <a class="carousel-control-prev" href="#banner_slider" role="button" data-bs-slide="prev">
            <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#banner_slider" role="button" data-bs-slide="next">
            <i class="fa fa-arrow-right"></i>
            </a>

         </div>
      </div>
   </div>
</div>

