<!-- copyright section start -->
<div  class="container-fluid no-gutters"></div> 
<div id="copyright1" class="copyright_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p class="copyright_text">
          &copy; 2025 All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="footer_social_icon">
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- copyright section end -->
