<!-- customer section start -->
<div class="container-fluid no-gutters">
    <div id="customer1" class="client_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="about_taital">What customers say</h1>
                    <div class="bulit_icon"><img src="images/bulit-icon.png"></div>
                </div>
            </div>
            <!-- <div class="client_section_2" id="featured-comments"> -->
                <!-- Comments will be dynamically inserted here -->
            <!-- </div> -->
            <div id="customerComments">
                <!-- Visible customer comments will be dynamically inserted here -->
            </div>
        </div>
    </div>
</div>

<!-- customer section end -->

<!-- Include JavaScript for fetching comments -->

<script src="/js/comment.js"></script> 
<!-- <script src="/js/comment_o.js"></script>  -->







