<!-- footer section start -->
<div id="footer1" class="container-fluid no-gutters">
<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="address_text">Address</h1>
        <p class="footer_text">
          UGG/F, ChinaChem Golden Plaza,
          16 Science Museum Road, Tsim Sha Tsui East, Kowloon, Hong Kong
        </p>
        <div class="location_text">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-phone" aria-hidden="true"></i
                ><span class="padding_left_10">(852) 98765432</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i
                ><span class="padding_left_10">pandacafeerb@gmail.com</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<!-- footer section end -->
