<!-- shop section start -->
<div class="container no-gutters">
  <div class="row">
    <div class="col-md-12 p-5">
      <h1 class="about_taital_shop">Visit Our shop</h1>
      <div class="bulit_icon"><img src="images/bulit-icon.png" /></div>
    </div>
    <div id='shop1' class="map_main_Home">
      <div class="map-responsive">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.398037362419!2d114.17712317409544!3d22.300781379686235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ef63816353%3A0x9ac90d854c82804a!2z6aaZ5riv5bCW5p2x56eR5a246aSo6YGTMTbomZ8!5e0!3m2!1szh-TW!2sus!4v1742056380591!5m2!1szh-TW!2sus"
          width="250" height="450" frameborder="0" style="border: 0; width: 100%" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>

<!-- shop section end -->


<!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" -->
<!-- src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14765.667487652245!2d114.1791412!3d22.3000686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43755790396a351e!2sSCOPE%20TST%20East%20Learning%20Centre!5e0!3m2!1sen!2sph!4v1654073269587!5m2!1sen!2sph"-->
<!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=ChinaChem+Golden+Plaza,+16,+Science,+Museum+Rd,+Tsim+Sha+Tsui+East,+Kowloon,+Hong+Kong" -->
<!-- "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.398037362419!2d114.17712317409544!3d22.300781379686235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ef63816353%3A0x9ac90d854c82804a!2z6aaZ5riv5bCW5p2x56eR5a246aSo6YGTMTbomZ8!5e0!3m2!1szh-TW!2sus!4v1742056380591!5m2!1szh-TW!2sus" -->
<!-- https://www.google.com/maps/@22.299977,114.1586566,14z/data=!4m2!11m1!2shE1UZE0jTWGjlu95-pvtVg?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D -->