<%- include('../base/head.ejs') %>
  <title>Manage Comments</title>

    <style>
      .edit-icon {
        cursor: pointer;
      }

      .save-icon,
      .cancel-icon {
        cursor: pointer;
        margin-left: 5px;
      }
    </style>
 
<body>
  <header><%- include('../base/header.ejs') %></header>
    <div class="container nav-padding">
        <!-- <br/> -->      
      <h2 class="d-inline"><strong>Manage Customer Comments</strong>
      </h2>
        
      <!-- Table to display comments -->
      <table id="commentsTable" class="comments-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Visibility</th>
            <!-- New column -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Rows will be dynamically inserted here -->
        </tbody>
      </table>
</div>

    <script src="/js/commentCrud.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

